@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800');
html, body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #606c71;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  --main-white: #f2f2f2;
  --blue: #2374aa;
  --green: #0ca157;

}

.default-color {
  color: "#606c71";
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(130deg, #2374aa, #0ca157);
}

.page-header-gradient {
  background-image: linear-gradient(130deg, #2374aa, #0ca157);
}

/* 155799*/
header {
  display: block;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 500;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.main-content {
  padding: 2rem 4rem;
  font-size: 1.1rem;
  display: block;
  word-wrap: break-word;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
}

.main-content p {
  margin-bottom: 1em;
}

.project-tagline {
  margin-bottom: 2rem;
  font-size: 1.2em;
  font-weight: normal;
  opacity: 0.7;
}

.project-name {
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

a {
  color: #1e6bb8;
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
}

.btn a {
  color: rgba(255,255,255,0.7);
  vertical-align: middle;
  height: 1.4rem;
  font-weight: 700;
}

svg {
  display: "block";
  vertical-align: middle;
}

.color-link {
  color: rgb(30, 107, 184)
}


.btn {
  display: inline-block;
  margin-bottom: 1.5rem;
  color: rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.08);
  border-color: rgba(255,255,255,0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  padding: 0.6rem 0.9rem;
  margin-left: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.btn.main-link-btn {
  position: relative;
  left: 150px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.inline-block {
  display: inline-block;
}

.weight-500 {
  font-weight: 500;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

code, pre {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 16px;
}

.em-1_5 {
  font-size: 1.5em;
}

.bg-8 {
  background: rgba(0, 0, 0, 0.08)
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

pre {
  margin: 0;  
  border-radius: 0.3rem;
  border-width: 1px;
  display: block  ;
  color: #374151;
  background-color: #f2f3f5;
  overflow-x: auto;
  font-weight: 400;
  font-size: .875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  text-align: left;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}

.main-content code {
  font-size: 1.2em;
}

.backround-darker code {
  background: none;
}

.transparent {
  opacity: 0;
}

.empty-btn {
  background-color: transparent;
  border-color: transparent;
}

.copy-button {
  display: inline-block;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.copy-button:hover {
  color: #fff
}

.button-active-color {
  color: #0be00b
}

.backround-darker {
  background: rgba(0, 0, 0, 0.08);
}

.tippy-box[data-theme~='green'] {
  background-color: #198519;
  color: #fff;
}

.tippy-box[data-theme~='green'][data-placement^='top'] > .tippy-arrow::before {
  border-bottom-color: #198519;
  color: #198519;
}

.navbar-top {
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  background: rgba(0, 0, 0, 0.09);
  height: auto;
  width: auto;
  top: 0
}

.navbar-top a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.5rem;
  margin-left: 1rem;
  border-radius: 0.375rem;
  text-decoration: none;
  font-size: 17px;
}

.navbar-top a:hover {
  background: rgba(0, 0, 0, 0.09)
}

.navbar-top a.active {
  background-color: #04AA6D;
  color: white;
  background: rgba(0, 0, 0, 0.2)
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff; 
}

::-webkit-scrollbar-thumb {
  background: #159957; 
}

::-webkit-scrollbar-thumb:hover {
  background: #048052;
}

.hljs-attr, .hljs-attribute, .hljs-class .hljs-title, .hljs-template-variable, .hljs-type, .hljs-variable {
  color: #b58900;
}

.hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-title {
  color: #268bd2;
}

.hljs-addition, .hljs-keyword, .hljs-selector-tag {
  color: #859900;
}

.hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string, .hljs-number, .hljs-regexp, .hljs-string {
  color: #2aa198;
}

.hljs-built_in, .hljs-deletion {
  color: #dc322f;
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol {
  color: #cb4b16;
}

.hljs-comment, .hljs-quote {
  color: #838a95;
}

.heading-404 {
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}

main input[type="text"] {
  position: relative;
  background: rgba(0, 0, 0, 0.09);
  border-color: rgba(255,255,255,0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.375rem;
  margin: 0;
  padding: 1rem;
  font-size:1rem
}

.hide {
  display: none;
}

[data-docs-classes-container] {
  display: grid;
}

.lh-1 {
  line-height: 0.8 !important;
}

.fs-08em {
  font-size: 0.8em !important;
}

.content-table {
  border-collapse: collapse;
  text-align: center;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  min-width: 60%;
}

.content-table thead tr {
  background-color: #159957;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #159957;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #159957;
}

.grid {
  display: grid;
}

.grid-colls-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
  column-gap: 0px;
  width: fit-content;
}

.mb-10 {
  margin-bottom: 2.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}

.mt-0_5 {
  margin-top: 0.5rem;
}

.mr-10 {
  margin-right: 10rem;
}

div.grid div {
  width: fit-content;
}

.dropdown-btn {
  background-color: transparent;
  background-image: none;
  color: inherit;
  cursor: pointer;
  border: none;
}

.fs-1em {
  font-size: 1em;
}

.fw-500 {
  font-weight: 500 !important;
}

.no-dot {
  list-style-type: none !important;
}

.pis-25 {
  padding-inline-start: 25px;
}

.docs-link {
  font-weight: 500 !important;
  border-left: transparent;
  border-left-style: solid;
  border-left-width: 4px;
  border-radius: 0.125rem;
  padding-left: 6px;
  line-height: 1.5em;
}

.docs-link:hover {
  border-left: #2374aa;
  border-left-style: solid;
  border-left-width: 4px;
  border-radius: 0.125rem;
}

* [hide=true] {
  display: none;
}

.read-only {
  border-radius: 0.375rem;
  background-color: #1e6bb8;
  color: #fff;
  font-size: 0.8em;
  padding: 0.3em;
  margin-left: 8px;
}

.static {
  border-radius: 0.375rem;
  background-color: #1e6bb8;
  color: #fff;
  font-size: 0.8em;
  padding: 0.3em;
  margin-left: 8px;
}

.private {
  border-radius: 0.375rem;
  background-color: #e75351;
  color: #fff;
  font-size: 0.8em;
  padding: 0.3em;
  margin-left: 8px;
}

.class {
  text-align: center;
  border-radius: 0.175rem;
  background-color: #df1aea;
  color: #fff;
  font-size: .9em;
  font-weight: 900;
  margin-right: .8em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .8em;
  padding-left: .8em;
  float: left;
}

.typedef {
  text-align: center;
  border-radius: 0.175rem;
  box-sizing: .3em .6em;
  background-color: #1a51ea;
  color: #fff;
  font-size: .9em;
  font-weight: 900;
  margin-right: .8em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .8em;
  padding-left: .8em;
  float: left;
}

.property {
  text-align: center;
  border-radius: 0.175rem;
  box-sizing: .3em .6em;
  background-color: #ea7f1a;
  color: #fff;
  font-size: .9em;
  font-weight: 900;
  margin-right: .8em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .8em;
  padding-left: .8em;
  float: left;
}

.method {
  text-align: center;
  border-radius: 0.175rem;
  box-sizing: .3em .6em;
  background-color: #ea1a4b;
  color: #fff;
  font-size: .9em;
  font-weight: 900;
  margin-right: .8em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .6em;
  padding-left: .6em;
  float: left;
}

.event {
  text-align: center;
  border-radius: 0.175rem;
  box-sizing: .3em .6em;
  background-color: #1aea8c;
  color: #fff;
  font-size: .9em;
  font-weight: 900;
  margin-right: 1em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .8em;
  padding-left: .8em;
  float: left;
}

hr {
  border: solid;
  border-width: 2px;
  border-color:rgba(0, 0, 0, 0.1);
  border-radius: 9999px
}

.link-lighter {
  color: #1e6bb8cb;
}

.mini-code-block {
  font-size: .95em;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius: 0.275rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Consolas, Monaco, "Andale Mono";
}

.warning-container {
  display: block;
  overflow-wrap: break-word;
  border-radius: 0.375rem;
  background-color: rgba(255, 229, 100, 0.2);
  border-color: #e7c100ce;
  border-left-color: #e7c100ce;
  border-left-width: 0.5rem;
  border-left-style: solid;
  padding-top: .01rem;
  padding-bottom: .01rem;
  padding-left: .8rem;
  padding-right: 4rem;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

warn {
  display: block;
  overflow-wrap: break-word;
  border-radius: 0.375rem;
  background-color: rgba(255, 229, 100, 0.2);
  border-color: #e7c100ce;
  border-left-color: #e7c100ce;
  border-left-width: 0.5rem;
  border-left-style: solid;
  padding-top: .01rem;
  padding-bottom: .01rem;
  padding-left: .8rem;
  padding-right: 4rem;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.warning-container .title {
  font-weight: 600;
  color: #b79903;
  margin-left: 0.3em;
  font-size: .96em;
}

.warning-container .body {
  margin-left: 0.3em;
  font-size: .90em;
  font-weight: 500;
}

.warning-container .body .mini-code-block {
  background-color:rgb(243, 244, 245);
  border-radius: 0.275rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Consolas, Monaco, "Andale Mono";
}

warn .title {
  font-weight: 600;
  color: #b79903;
  margin-left: 0.3em;
  font-size: .96em;
}

warn .body {
  margin-left: 0.3em;
  font-size: .90em;
  font-weight: 500;
}

warn .body .mini-code-block {
  background-color:rgb(243, 244, 245);
  border-radius: 0.275rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Consolas, Monaco, "Andale Mono";
}

.tip-container {
  display: block;
  overflow-wrap: break-word;
  border-radius: 0.375rem;
  background-color: rgba(21, 153, 87, 0.2);
  border-color: #159957;
  border-left-color: #159957;
  border-left-width: 0.5rem;
  border-left-style: solid;
  padding-top: .01rem;
  padding-bottom: .01rem;
  padding-left: .8rem;
  padding-right: 4rem;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.tip-container .title {
  font-weight: 600;
  color: #159957;
  margin-left: 0.3em;
  font-size: .96em;
}

.tip-container .body {
  margin-left: 0.3em;
  font-size: .90em;
  font-weight: 500;
}

.tip-container .body .mini-code-block {
  background-color:rgb(243, 244, 245);
  border-radius: 0.275rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Consolas, Monaco, "Andale Mono";
}

tip {
  display: block;
  overflow-wrap: break-word;
  border-radius: 0.375rem;
  background-color: rgba(21, 153, 87, 0.2);
  border-color: #159957;
  border-left-color: #159957;
  border-left-width: 0.5rem;
  border-left-style: solid;
  padding-top: .01rem;
  padding-bottom: .01rem;
  padding-left: .8rem;
  padding-right: 4rem;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

tip .title {
  font-weight: 600;
  color: #159957;
  margin-left: 0.3em;
  font-size: .96em;
}

tip .body {
  margin-left: 0.3em;
  font-size: .90em;
  font-weight: 500;
}

tip .body .mini-code-block {
  background-color:rgb(243, 244, 245);
  border-radius: 0.275rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Consolas, Monaco, "Andale Mono";
}

.danger-container {
  display: block;
  overflow-wrap: break-word;
  border-radius: 0.375rem;
  background-color: rgba(231, 83, 81, 0.2);
  border-color: #e75351;
  border-left-color: #e75351;
  border-left-width: 0.5rem;
  border-left-style: solid;
  padding-top: .01rem;
  padding-bottom: .01rem;
  padding-left: .8rem;
  padding-right: 4rem;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.danger-container .title {
  font-weight: 600;
  color: #e75351;
  margin-left: 0.3em;
  font-size: .96em;
}

.danger-container .body {
  margin-left: 0.3em;
  font-size: .90em;
  font-weight: 500;
}

.danger-container .body .mini-code-block {
  background-color:rgb(243, 244, 245);
  border-radius: 0.275rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Consolas, Monaco, "Andale Mono";
}

danger {
  display: block;
  overflow-wrap: break-word;
  border-radius: 0.375rem;
  background-color: rgba(231, 83, 81, 0.2);
  border-color: #e75351;
  border-left-color: #e75351;
  border-left-width: 0.5rem;
  border-left-style: solid;
  padding-top: .01rem;
  padding-bottom: .01rem;
  padding-left: .8rem;
  padding-right: 4rem;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

danger .title {
  font-weight: 600;
  color: #e75351;
  margin-left: 0.3em;
  font-size: .96em;
}

danger .body {
  margin-left: 0.3em;
  font-size: .90em;
  font-weight: 500;
}

danger .body .mini-code-block {
  background-color:rgb(243, 244, 245);
  border-radius: 0.275rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Consolas, Monaco, "Andale Mono";
}

.separator-line {
  width: 100%;
  padding-right: 8rem;
  margin-top: .4em;
  border-radius: 9999px;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0) 75%);
}

/*the container must be positioned relative:*/
.form-autocomplete {
  margin-right: 0px;
  width: fit-content;
  float: right;
  bottom: 192px;
  margin-right: 15px;
  position: relative;
  display: inline-flex;
}

.autocomplete {
  position: relative;
  display: inline-flex;
}

* {
  box-sizing: border-box;
}

.autocomplete input {
  border: 4px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  border-radius: .375rem;
}

.autocomplete input[type=text] {
  background-color: transparent;
  width: 100%;
  color: #f2f2f2;
}

.autocomplete input[type=text]::placeholder {
  color: #f2f2f2b0;
  font-weight: 500;
  font-style: italic;
}

.autocomplete input[type=text]:focus {
  outline: 0;
}

.autocomplete-items {
  position: absolute;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  border-radius: .175rem;
  background-color: transparent;
  color: transparent;
  overflow: visible;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  border-left: solid transparent;
  font-size: 13.5px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  background-color: transparent; 
  border-left-width: .25em !important;
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.2);
}
/*round top of autocomplete list*/
.autocomplete-items div:last-child {
  border-bottom-left-radius: .175rem;
  border-bottom-right-radius: .175rem;
  padding-bottom: 15px !important;
}
/*round bottom of autocomplete list*/
.autocomplete-items div:first-child {
  border-top-left-radius: .175rem;
  border-top-right-radius: .175rem;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  border-left: solid var(--blue);
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  border-left: solid var(--blue) !important;
  color: #f2f2f2; 
}